# Node
node_modules/
dist/
npm-debug.log*

# .NET
bin/
obj/
*.user
*.suo

# Python
__pycache__/
*.pyc
.venv/

# OS
.DS_Store
Thumbs.db

# Misc
.env
*.local
.vscode/
.idea/
	
# Visual Studio cache
.vs/
